input {
    border-color: rgb(255, 1, 175);
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 8px;
    outline-color: rgb(0, 0, 0);
    font-family: 'Kanit', sans-serif;
  }
  input::placeholder {
    color: rgb(226, 15, 166);
    text-align: center;

  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Kanit', sans-serif;
  }
  h3 {
    font-size: 18px;
    margin-inline: 50px;
    text-align: center;
    margin-top: 30px;
    color: rgb(242, 0, 161);
  }
  h1 {
    text-align: center;
    color: rgb(255, 1, 175);
    font-size: x-large;
  }
  .caixa {
    position: relative;
    border-left: 2px solid rgb(255, 1, 175);
    border-right: 2px solid rgb(255, 1, 175);

    width: 300px;
    background-color: rgb(245, 225, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .caixa form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    border-color: rgb(255, 1, 175);
  }

  button {
    color: rgb(255, 1, 175);
    width: 100px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 1, 175);
    border-radius: 5px;
    margin-top: 7px;
    margin-bottom: 40px;
    padding: 1px 6px;
    font-family: 'Kanit', sans-serif;
  }

  .coracao {
    width: 307px;
    height: 10px;
    background-image: url("/coracaos.png");
    background-repeat: repeat-x;
    background-size: contain;
    position: absolute;
  }

  .coracao:not(.grande) {
    opacity: 0.3;
  }

  .coracao.grande {
    height: 30px;
  }

  .coracao.top {
    top: -6px;
  }

  .coracao.bottom {
    bottom: -10px;
  }

  .coracao.grande.top {
    top: -10px;
  }

  .coracao.grande.bottom {
    bottom: -22px;
  }

  #mensagem {
    display: none;
    border: 3px solid rgb(255, 1, 175);
    padding: 10px 10px;
    width: 100px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    position: absolute;
    color: rgb(255, 1, 175);

    background-color: white;
    -webkit-box-shadow: 5px 5px 16px -6px rgba(240, 17, 240, 1);
    -moz-box-shadow: 5px 5px 16px -6px rgba(240, 17, 240, 1);
    box-shadow: 5px 5px 16px -6px rgba(240, 17, 240, 1);
  }